body {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  background-color: #f4f7f6;
  background-size: 100%;
}
h1 {
  margin: 30px;
}
a {
  text-decoration: underline;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  font-size: large;
}

.All-Clients {
  margin: 0 auto;
  width: 50%;
}

.Clients-List {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Single-Client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}
th {
  background-color: #dddddd;
}
