body {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  background-color: #f4f7f6;
  background-size: 100%;
}
h1 {
  margin: 30px;
}
a {
  text-decoration: underline;
}

label {
  display: inline-block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  font-size: large;
}

/* Start of Styling for All Clients Component*/
.All-Clients {
  margin: 0 auto;
  width: 50%;
}

.Clients-List {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* End of Styling for All Clients Component*/

/* Start of Styling for Single Clients Component*/
.Single-Client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}
th {
  background-color: #dddddd;
}
/* End of Styling for All Clients Component*/

/* Start of Styling for CashFlow Component*/
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
}

.Form-Names {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Form-Values {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Form-Buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/* End of Styling for CashFlow Component*/
